:root {
  --DARK-THEME: #211e24;
  --LIGHT-THEME: #e8ebf0;
  --DARK-HEADER: #342e38;
  --LIGHT-HEADER: #f4f7fc;
  --DARK-THEME-TEXT: #e7e2e2;
}

.App {
  text-align: center;
  min-height: calc(100vh - 4rem);
  background-color: var(--LIGHT-THEME);
  padding-top: 4rem;
}

.App.dark {
  background-color: var(--DARK-THEME);
  color: var(--DARK-THEME-TEXT);
}
